.countries{
    width: 15%;
    min-width: 250px;
    max-height: 90vh;
    overflow-y: scroll;
    padding-right: 10px;
    &__countries-list{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        list-style: none;
    
    }
}