.countries {
  top: 0;
  position: sticky;
  overflow-y: scroll;
  max-height: 100vh;
  width: 15vw;
  min-width: 200px;
  max-width: 250px;
  .country {
    img {
      width: 20px;
    }
  }
  &::-webkit-scrollbar {
    width: 12px;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #2f58cd55;
    background-color: #2f58cdaa;
  }
}
