.country{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    text-align: end;
    border-bottom: 1px solid black;
    min-width: 170px;
    .flag{
        width: 15px;
    }
}