.country {
  li {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    text-align: end;
    // border-bottom: 1px solid black;
    border: 1px solid transparent;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    min-width: 170px;
    padding: 5px 10px;
    cursor: pointer;
    .flag {
      width: 15px;
    }
  }

  &:hover,
  &.active {
    background-color: greenyellow;
  }
}
