.gnnews-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  bottom: 0;
  background-color: #443c68;
  border-top: 1px solid #00000050;
}
