.news-item {
  line-height: 30px;
  background: linear-gradient(135deg, #00000030 30%, #00000000 60%);
  padding: 10px;
  border-radius: 5px;
  &:nth-child(2n) {
    background: linear-gradient(-45deg, #00000030 20%, #00000000 80%);
  }
  &.list {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
  &-details {
    &_source {
      margin-right: 10px;
    }
  }
  &_title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
  }
  &.tile {
    display: grid;
    grid-template-rows: 2fr 2fr 1fr;
    text-align: left;
    place-items: center;
    align-items: center;

    img {
      width: 80%;
      // height: 70%;
    }
  }
  transition: 1s;
}

// .news-item {
//   line-height: 30px;
//   background: linear-gradient(135deg, #00000030 30%, #00000000 60%);
//   margin-bottom: 10px;
//   padding: 10px;
//   height: 100%;
//   border-radius: 5px;
//   &.tile {
//     display: grid;
//     grid-template-rows: 2fr 2fr 1fr;
//     margin: 10px;
//     text-align: left;
//     place-items: center;
//     align-items: center;
//     img {
//       width: 80%;
//     }
//   }
// }
