.newslist {
  width: 100%;
  .news-list-container {
    // display: flex;
    // flex-wrap: wrap;
  }
  .tiles {
    width: 100%;
    margin: 5px;
  }
  ul {
    list-style: none;
    text-align: left;
  }
  transition: 1s;
}
