// .App {
//   background-color: rgba(0, 0, 0, 0.1);
//   position: relative;
//   text-align: center;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   .main-view {
//     margin-top: 1rem;
//     display: flex;
//     justify-content: space-between;
//     width: 100%;
//     margin: 20px;
//   }
// }

.App {
  display: flex;
  background-color: #443c68;
  width: 100%;
  color: #ffffff;

  .newspage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    .main-view {
      margin: 5% 10%;
    }
  }
}
